services:
  frontend:
    build: .
    container_name: vite_app
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

networks:
  app_shop_network:
    external: true
