services:
  mongodb:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    ports:
      - 27017:27017
    volumes:
      - mongodb:/data/db
    networks:
      - app_shop_network

  api:
    build: ./api
    ports:
      - 3000:3000
    depends_on:
      - mongodb
    volumes:
      - ./api:/api
    networks:
      - app_shop_network

volumes:
  mongodb:

networks:
  app_shop_network:
    external: true
