<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <header class="container">
        <h1>API REST</h1>
    </header>
    <main class="container">
        {{{body}}}
    </main>
    <footer class="container" style="text-align: center;">&copy; 2025 by Jhonny Claure</footer>
</body>

</html>